body {
  background-color: black;
  font-family: 'Nunito';
}
.navBar {
  background-color: black;
}
a {
  float: center;
  color: #ffffff;
  text-align: center; 
  font-size: 48px;  
}
.navPage:hover {
  font-size: 52px;
  border: #FF5F1F double 8px;  
  color: white;
}
.active {
  color: #FF5F1F;
}
.ss {
  outline-width: 4px;
  outline-color: #FF5F1F;
}
.topNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: center;
  font-size: 48px;
  overflow: hidden;
}
.navPage {
  display: inline-block;
  padding: 10px 15px;
  border: #00FFFF double 8px;
}
.logo {}