body {
  background-color: black;
  font-family: 'Nunito';
}
.navBar {
  background-color: black;
}
.navCon {
  width: 98vw;
  background-color: none;
  position: fixed;
}
a {
  float: left;
  position: fixed;
  color: #ffffff;
  text-align: center;
  padding-top: 73px;  
  width: 20%;
  font-size: 48px;
  
}
.nav a:hover {
  font-size: 52px;
  background-color: #FF5F1F;
  color: white;
}
.aboutMe {
  position: relative;
  color: #FF5F1F;
}
.ss {
  outline-width: 4px;
  outline-color: #FF5F1F;
}
